<div>
	<form id="roleDetailForm" name="roleDetailForm" ng-show="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail role {{ vm.selectedEntity.roleId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.active=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !roleDetailForm.roleId.$valid, &#39;has-success&#39;: roleDetailForm.roleId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">roleId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="role-roleId" ng-model="vm.selectedEntity.roleId" ng-readonly="true" name="roleId" placeholder="roleId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !roleDetailForm.role.$valid, &#39;has-success&#39;: roleDetailForm.role.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">role
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="role-role" ng-model="vm.selectedEntity.role" ng-readonly="vm.restrictionList.role.restrictionFieldMap.role" name="role" placeholder="role"/>
		
	</div>
</div>
<div id="role-restrictionEntity" class="modal fade" role="dialog" ng-if="!$root.openNode.restrictionEntity">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing restrictionEntity
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">restrictionEntity
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.restrictionEntity" id="restrictionEntity" name="restrictionEntity" ng-options="restrictionEntity as  restrictionEntity.restrictionEntityId+&#39; &#39;+ restrictionEntity.entity.EntityId for restrictionEntity in vm.restrictionEntityPreparedData.entityList track by restrictionEntity.restrictionEntityId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedRestrictionEntity()" class="btn btn-default " id="restrictionEntity">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.restrictionEntity.canSearch==true)" ng-if="!$root.openNode.restrictionEntity">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">restrictionEntity<button ng-click="vm.showRestrictionEntityDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.security.restrictionItemMap.restrictionEntity.canCreate==true)">Add new restrictionEntity</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#role-restrictionEntity">Link existing</button>
<button ng-click="vm.downloadRestrictionEntityList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.roleDetailForm.restrictionEntity.$valid, &#39;has-success&#39;: vm.roleDetailForm.restrictionEntity.$valid}">
			<label id="restrictionEntity">restrictionEntity
			</label>

			<div id="restrictionEntity" ng-if="vm.selectedEntity.restrictionEntityList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.restrictionEntityGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="role-restrictionField" class="modal fade" role="dialog" ng-if="!$root.openNode.restrictionField">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing restrictionField
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">restrictionField
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.restrictionField" id="restrictionField" name="restrictionField" ng-options="restrictionField as  restrictionField.restrictionFieldId for restrictionField in vm.restrictionFieldPreparedData.entityList track by restrictionField.restrictionFieldId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedRestrictionField()" class="btn btn-default " id="restrictionField">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.restrictionField.canSearch==true)" ng-if="!$root.openNode.restrictionField">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">restrictionField<button ng-click="vm.showRestrictionFieldDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.security.restrictionItemMap.restrictionField.canCreate==true)">Add new restrictionField</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#role-restrictionField">Link existing</button>
<button ng-click="vm.downloadRestrictionFieldList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.roleDetailForm.restrictionField.$valid, &#39;has-success&#39;: vm.roleDetailForm.restrictionField.$valid}">
			<label id="restrictionField">restrictionField
			</label>

			<div id="restrictionField" ng-if="vm.selectedEntity.restrictionFieldList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.restrictionFieldGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="role-user" class="modal fade" role="dialog" ng-if="!$root.openNode.user">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing user
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">user
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.user" id="user" name="user" ng-options="user as  user.userId+&#39; &#39;+ user.username for user in vm.userPreparedData.entityList track by user.userId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedUser()" class="btn btn-default " id="user">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.user.canSearch==true)" ng-if="!$root.openNode.user">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">user<button ng-click="vm.showUserDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.security.restrictionItemMap.user.canCreate==true)">Add new user</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#role-user">Link existing</button>
<button ng-click="vm.downloadUserList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.roleDetailForm.user.$valid, &#39;has-success&#39;: vm.roleDetailForm.user.$valid}">
			<label id="user">user
			</label>

			<div id="user" ng-if="vm.selectedEntity.userList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.userGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="role-restrictionEntityGroup" class="modal fade" role="dialog" ng-if="!$root.openNode.restrictionEntityGroup">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing restrictionEntityGroup
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">restrictionEntityGroup
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.restrictionEntityGroup" id="restrictionEntityGroup" name="restrictionEntityGroup" ng-options="restrictionEntityGroup as  restrictionEntityGroup.restrictionEntityGroupId for restrictionEntityGroup in vm.restrictionEntityGroupPreparedData.entityList track by restrictionEntityGroup.restrictionEntityGroupId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedRestrictionEntityGroup()" class="btn btn-default " id="restrictionEntityGroup">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.restrictionEntityGroup.canSearch==true)" ng-if="!$root.openNode.restrictionEntityGroup">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">restrictionEntityGroup<button ng-click="vm.showRestrictionEntityGroupDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.security.restrictionItemMap.restrictionEntityGroup.canCreate==true)">Add new restrictionEntityGroup</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#role-restrictionEntityGroup">Link existing</button>
<button ng-click="vm.downloadRestrictionEntityGroupList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.roleDetailForm.restrictionEntityGroup.$valid, &#39;has-success&#39;: vm.roleDetailForm.restrictionEntityGroup.$valid}">
			<label id="restrictionEntityGroup">restrictionEntityGroup
			</label>

			<div id="restrictionEntityGroup" ng-if="vm.selectedEntity.restrictionEntityGroupList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.restrictionEntityGroupGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<div class="panel-body">
					<div class="pull-left">
						<form id="roleActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.roleId==undefined" ng-show="($root.restrictionList.security.restrictionItemMap.role.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.roleId&gt;0" ng-show="($root.restrictionList.security.restrictionItemMap.role.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.roleId&gt;0" ng-show="($root.restrictionList.security.restrictionItemMap.role.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
