<div>
	<form id="projectDetailForm" name="projectDetailForm" ng-show="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail project {{ vm.selectedEntity.projectId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.active=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.projectId.$valid, &#39;has-success&#39;: projectDetailForm.projectId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">projectId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="project-projectId" ng-model="vm.selectedEntity.projectId" ng-readonly="true" name="projectId" placeholder="projectId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.name.$valid, &#39;has-success&#39;: projectDetailForm.name.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">name
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="project-name" ng-model="vm.selectedEntity.name" ng-readonly="vm.restrictionList.project.restrictionFieldMap.name" name="name" placeholder="name"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.addDate.$valid, &#39;has-success&#39;: projectDetailForm.addDate.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">addDate
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" ui-date="{ dateFormat: &#39;dd/mm/yy&#39; }" ng-model="vm.selectedEntity.addDate" ng-readonly="vm.restrictionList.project.restrictionFieldMap.addDate" name="addDate" placeholder="addDate"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.modDate.$valid, &#39;has-success&#39;: projectDetailForm.modDate.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">modDate
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" ui-date="{ dateFormat: &#39;dd/mm/yy&#39; }" ng-model="vm.selectedEntity.modDate" ng-readonly="vm.restrictionList.project.restrictionFieldMap.modDate" name="modDate" placeholder="modDate"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.generationType.$valid, &#39;has-success&#39;: projectDetailForm.generationType.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">generationType
		</span>

		<select class="form-control pull-left" aria-describedby="sizing-addon3" type="text" id="project-generationType" ng-model="vm.selectedEntity.generationType" ng-readonly="vm.restrictionList.project.restrictionFieldMap.generationType" name="generationType" placeholder="generationType" ng-options="generationType as generationType for generationType in vm.generationTypePreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>
<div id="project-generationRun" class="modal fade" role="dialog" ng-if="!$root.openNode.generationRun">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing generationRun
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">generationRun
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.generationRun" id="generationRun" name="generationRun" ng-options="generationRun as  generationRun.generationRunId for generationRun in vm.generationRunPreparedData.entityList track by generationRun.generationRunId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedGenerationRun()" class="btn btn-default " id="generationRun">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.generation.restrictionItemMap.generationRun.canSearch==true)" ng-if="!$root.openNode.generationRun">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">generationRun<button ng-click="vm.showGenerationRunDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.generation.restrictionItemMap.generationRun.canCreate==true)">Add new generationRun</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#project-generationRun">Link existing</button>
<button ng-click="vm.downloadGenerationRunList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.projectDetailForm.generationRun.$valid, &#39;has-success&#39;: vm.projectDetailForm.generationRun.$valid}">
			<label id="generationRun">generationRun
			</label>

			<div id="generationRun" ng-if="vm.selectedEntity.generationRunList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.generationRunGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="project-relationship" class="modal fade" role="dialog" ng-if="!$root.openNode.relationship">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing relationship
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">relationship
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.relationship" id="relationship" name="relationship" ng-options="relationship as  relationship.relationshipId+&#39; &#39;+ relationship.name for relationship in vm.relationshipPreparedData.entityList track by relationship.relationshipId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedRelationship()" class="btn btn-default " id="relationship">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.relationship.restrictionItemMap.relationship.canSearch==true)" ng-if="!$root.openNode.relationship">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">relationship<button ng-click="vm.showRelationshipDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.relationship.restrictionItemMap.relationship.canCreate==true)">Add new relationship</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#project-relationship">Link existing</button>
<button ng-click="vm.downloadRelationshipList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.projectDetailForm.entityGroup.$valid, &#39;has-success&#39;: vm.projectDetailForm.relationship.$valid}">
			<label id="relationship">entityGroup
			</label>

			<div id="relationship" ng-if="vm.selectedEntity.relationshipList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.relationshipGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="project-enumEntity" class="modal fade" role="dialog" ng-if="!$root.openNode.enumEntity">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing enumEntity
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">enumEntity
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.enumEntity" id="enumEntity" name="enumEntity" ng-options="enumEntity as  enumEntity.enumEntityId+&#39; &#39;+ enumEntity.name for enumEntity in vm.enumEntityPreparedData.entityList track by enumEntity.enumEntityId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedEnumEntity()" class="btn btn-default " id="enumEntity">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.enumEntity.canSearch==true)" ng-if="!$root.openNode.enumEntity">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">enumEntity<button ng-click="vm.showEnumEntityDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.entity.restrictionItemMap.enumEntity.canCreate==true)">Add new enumEntity</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#project-enumEntity">Link existing</button>
<button ng-click="vm.downloadEnumEntityList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.projectDetailForm.enumEntity.$valid, &#39;has-success&#39;: vm.projectDetailForm.enumEntity.$valid}">
			<label id="enumEntity">enumEntity
			</label>

			<div id="enumEntity" ng-if="vm.selectedEntity.enumEntityList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.enumEntityGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<div class="panel-body">
					<div class="pull-left">
						<form id="projectActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.projectId==undefined" ng-show="($root.restrictionList.entity.restrictionItemMap.project.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.projectId&gt;0" ng-show="($root.restrictionList.entity.restrictionItemMap.project.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.projectId&gt;0" ng-show="($root.restrictionList.entity.restrictionItemMap.project.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
