<div>
	<form id="projectDetailForm" name="projectDetailForm" ng-show="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail project {{ vm.selectedEntity.projectId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.active=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.projectId.$valid, &#39;has-success&#39;: projectDetailForm.projectId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">projectId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="project-projectId" ng-model="vm.selectedEntity.projectId" ng-readonly="true" name="projectId" placeholder="projectId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !projectDetailForm.name.$valid, &#39;has-success&#39;: projectDetailForm.name.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">name
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="project-name" ng-model="vm.selectedEntity.name" ng-readonly="vm.restrictionList.project.restrictionFieldMap.name" name="name" placeholder="name"/>
		
	</div>
</div>
<div id="project-entityGroup" class="modal fade" role="dialog" ng-if="!$root.openNode.entityGroup">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing entityGroup
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">entityGroup
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.entityGroup" id="entityGroup" name="entityGroup" ng-options="entityGroup as  entityGroup.entityGroupId+&#39; &#39;+ entityGroup.name for entityGroup in vm.entityGroupPreparedData.entityList track by entityGroup.entityGroupId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedEntityGroup()" class="btn btn-default " id="entityGroup">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.entityGroup.canSearch==true)" ng-if="!$root.openNode.entityGroup">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">entityGroup<button ng-click="vm.showEntityGroupDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.entity.restrictionItemMap.entityGroup.canCreate==true)">Add new entityGroup</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#project-entityGroup">Link existing</button>
<button ng-click="vm.downloadEntityGroupList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.projectDetailForm.entityGroup.$valid, &#39;has-success&#39;: vm.projectDetailForm.entityGroup.$valid}">
			<label id="entityGroup">entityGroup
			</label>

			<div id="entityGroup" ng-if="vm.selectedEntity.entityGroupList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.entityGroupGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="project-enumEntity" class="modal fade" role="dialog" ng-if="!$root.openNode.enumEntity">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing enumEntity
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">enumEntity
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.enumEntity" id="enumEntity" name="enumEntity" ng-options="enumEntity as  enumEntity.name+&#39; &#39;+ enumEntity.enumEntityId for enumEntity in vm.enumEntityPreparedData.entityList track by enumEntity.enumEntityId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedEnumEntity()" class="btn btn-default " id="enumEntity">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.enumEntity.canSearch==true)" ng-if="!$root.openNode.enumEntity">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">enumEntity<button ng-click="vm.showEnumEntityDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.entity.restrictionItemMap.enumEntity.canCreate==true)">Add new enumEntity</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#project-enumEntity">Link existing</button>
<button ng-click="vm.downloadEnumEntityList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.projectDetailForm.enumEntity.$valid, &#39;has-success&#39;: vm.projectDetailForm.enumEntity.$valid}">
			<label id="enumEntity">enumEntity
			</label>

			<div id="enumEntity" ng-if="vm.selectedEntity.enumEntityList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.enumEntityGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
<div id="project-generationRun" class="modal fade" role="dialog" ng-if="!$root.openNode.generationRun">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing generationRun
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">generationRun
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.generationRun" id="generationRun" name="generationRun" ng-options="generationRun as generationRun.generationRunId for generationRun in vm.generationRunPreparedData.entityList track by generationRun.generationRunId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedGenerationRun()" class="btn btn-default " id="generationRun">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.generation.restrictionItemMap.generationRun.canSearch==true)" ng-if="!$root.openNode.generationRun">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">generationRun<button ng-click="vm.showGenerationRunDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.generation.restrictionItemMap.generationRun.canCreate==true)">Add new generationRun</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#project-generationRun">Link existing</button>
<button ng-click="vm.downloadGenerationRunList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.projectDetailForm.generationRun.$valid, &#39;has-success&#39;: vm.projectDetailForm.generationRun.$valid}">
			<label id="generationRun">generationRun
			</label>

			<div id="generationRun" ng-if="vm.selectedEntity.generationRunList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.generationRunGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<script type="text/javascript">$('#projectTabs a:first').tab('show');
				</script>

				<div class="panel-body">
					<div class="pull-left">
						<form id="projectActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.projectId==undefined" ng-show="($root.restrictionList.entity.restrictionItemMap.project.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.projectId&gt;0" ng-show="($root.restrictionList.entity.restrictionItemMap.project.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.projectId&gt;0" ng-show="($root.restrictionList.entity.restrictionItemMap.project.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
