<div>
	<form id="restrictionEntitySearchBean">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Search form restrictionEntity
			</div>

			<div class="panel-body">
				<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">restrictionEntityId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="restrictionEntity-restrictionEntityId" ng-model="vm.searchBean.restrictionEntityId" ng-readonly="false" name="restrictionEntityId" placeholder="restrictionEntityId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canDelete
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntity-canDelete" ng-model="vm.searchBean.canDelete" ng-readonly="false" name="canDelete" placeholder="canDelete" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canSearch
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntity-canSearch" ng-model="vm.searchBean.canSearch" ng-readonly="false" name="canSearch" placeholder="canSearch" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canUpdate
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntity-canUpdate" ng-model="vm.searchBean.canUpdate" ng-readonly="false" name="canUpdate" placeholder="canUpdate" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canCreate
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntity-canCreate" ng-model="vm.searchBean.canCreate" ng-readonly="false" name="canCreate" placeholder="canCreate" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.role.canSearch==true)">
	<div class="input-group">
		<span class="input-group-addon">role
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.role.roleId" id="role" ng-options="role.roleId as  role.roleId+&#39; &#39;+ role.role for role in vm.rolePreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>
<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.entity.canSearch==true)">
	<div class="input-group">
		<span class="input-group-addon">entity
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.entity.entityId" id="entity" ng-options="entity.entityId as  entity.entityId+&#39; &#39;+ entity.name for entity in vm.entityPreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>

				</div>

				<div class="panel-body">
					<div class="panel-body">
						<div class="pull-left right-input">
							<button ng-click="vm.addNew()" class="btn btn-default " ng-show="($root.restrictionList.security.restrictionItemMap.restrictionEntity.canCreate==true)">Add new
							</button>

							<button ng-click="vm.search()" class="btn btn-default ">Find
							</button>

							<button ng-click="vm.reset()" class="btn btn-default ">Reset
							</button>

						</div>

					</div>

				</div>

			</div>

		</form>

		<form id="restrictionEntityList" ng-if="vm.entityList.length&gt;0" enctype="UTF-8">
			<div class="panel panel-default default-panel">
				<div class="panel-heading">List restrictionEntity<button ng-click="vm.downloadList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

				</div>

				<div class="panel-body">
					<div ui-grid="vm.restrictionEntityGridOptions" ui-grid-pagination="" ui-grid-selection="" ui-grid-exporter="">
					</div>

				</div>

			</div>

		</form>

	</div>
