<div>
	<form id="vm.enumValueDetailForm" name="vm.enumValueDetailForm" ng-if="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail enumValue {{ vm.selectedEntity.enumValueId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.activeTab=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.enumValueDetailForm.enumValueId.$valid, &#39;has-success&#39;: vm.enumValueDetailForm.enumValueId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">enumValueId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="enumValue-enumValueId" ng-model="vm.selectedEntity.enumValueId" ng-readonly="true" name="enumValueId" placeholder="enumValueId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.enumValueDetailForm.value.$valid, &#39;has-success&#39;: vm.enumValueDetailForm.value.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">value
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="enumValue-value" ng-model="vm.selectedEntity.value" ng-readonly="vm.restrictionList.enumValue.restrictionFieldMap.value" name="value" placeholder="value"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.enumValueDetailForm.name.$valid, &#39;has-success&#39;: vm.enumValueDetailForm.name.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">name
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="enumValue-name" ng-model="vm.selectedEntity.name" ng-readonly="vm.restrictionList.enumValue.restrictionFieldMap.name" name="name" placeholder="name"/>
		
	</div>
</div>
 </uib-tab> <uib-tab index="2" heading="EnumEntity" ng-click="vm.activeTab=2"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.enumValueDetailForm.enumEntity.$valid, &#39;has-success&#39;: vm.enumValueDetailForm.enumEntity.$valid}" style="height:59px" ng-show="true " ng-if="!$root.openNode.enumEntity">
	<div class="input-group">
		<span class="input-group-addon">enumEntity
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.enumEntity" id="enumEntity" name="enumEntity" ng-options="enumEntity as  enumEntity.enumEntityId+&#39; &#39;+ enumEntity.name for enumEntity in vm.enumEntityPreparedData.entityList track by enumEntity.enumEntityId" enctype="UTF-8">
		</select>

		<span class="input-group-btn">
			<button ng-click="vm.showEnumEntityDetail()" class="btn btn-default " id="enumEntity" ng-if="vm.selectedEntity.enumEntity==null">Add new enumEntity
			</button>

			<button ng-click="vm.showEnumEntityDetail()" class="btn btn-default " id="enumEntity" ng-if="vm.selectedEntity.enumEntity!=null">Show detail
			</button>

		</span>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<div class="panel-body">
					<div class="pull-left">
						<form id="enumValueActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.enumValueId==undefined" ng-show="($root.restrictionList.field.restrictionItemMap.enumValue.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.enumValueId&gt;0" ng-show="($root.restrictionList.field.restrictionItemMap.enumValue.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.enumValueId&gt;0" ng-show="($root.restrictionList.field.restrictionItemMap.enumValue.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
