.splash-slider-slider {
    .slick-slide .content{
    padding: 0px 18px;;
    position: absolute;
    bottom: 0;
    }

}
.splash-slider .splash-slider-sidebar li a{
        overflow: hidden;
        white-space: nowrap;
    }