<div>
	<form id="vm.logEntryDetailForm" name="vm.logEntryDetailForm" ng-if="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail logEntry {{ vm.selectedEntity.logEntryId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.activeTab=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.logEntryId.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.logEntryId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">logEntryId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="logEntry-logEntryId" ng-model="vm.selectedEntity.logEntryId" ng-readonly="true" name="logEntryId" placeholder="logEntryId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.ipAddress.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.ipAddress.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">ipAddress
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="logEntry-ipAddress" ng-model="vm.selectedEntity.ipAddress" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.ipAddress" name="ipAddress" placeholder="ipAddress"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.logDate.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.logDate.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">logDate
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" ui-date="{ dateFormat: &#39;dd/mm/yy&#39; }" ng-model="vm.selectedEntity.logDate" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.logDate" name="logDate" placeholder="logDate"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.hostName.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.hostName.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">hostName
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="logEntry-hostName" ng-model="vm.selectedEntity.hostName" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.hostName" name="hostName" placeholder="hostName"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.entityId.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.entityId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">entityId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="logEntry-entityId" ng-model="vm.selectedEntity.entityId" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.entityId" name="entityId" placeholder="entityId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.userId.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.userId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">userId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="logEntry-userId" ng-model="vm.selectedEntity.userId" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.userId" name="userId" placeholder="userId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.info.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.info.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">info
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="logEntry-info" ng-model="vm.selectedEntity.info" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.info" name="info" placeholder="info"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.logType.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.logType.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">logType
		</span>

		<select class="form-control pull-left" aria-describedby="sizing-addon3" type="text" id="logEntry-logType" ng-model="vm.selectedEntity.logType" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.logType" name="logType" placeholder="logType" ng-options="logType as logType for logType in vm.logTypePreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.logEntryDetailForm.operationType.$valid, &#39;has-success&#39;: vm.logEntryDetailForm.operationType.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">operationType
		</span>

		<select class="form-control pull-left" aria-describedby="sizing-addon3" type="text" id="logEntry-operationType" ng-model="vm.selectedEntity.operationType" ng-readonly="vm.restrictionList.logEntry.restrictionFieldMap.operationType" name="operationType" placeholder="operationType" ng-options="operationType as operationType for operationType in vm.operationTypePreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<div class="panel-body">
					<div class="pull-left">
						<form id="logEntryActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.logEntryId==undefined" ng-show="($root.restrictionList.log.restrictionItemMap.logEntry.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.logEntryId&gt;0" ng-show="($root.restrictionList.log.restrictionItemMap.logEntry.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.logEntryId&gt;0" ng-show="($root.restrictionList.log.restrictionItemMap.logEntry.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
