<div>
	<form id="userDetailForm" name="userDetailForm" ng-show="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail user {{ vm.selectedEntity.userId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.active=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !userDetailForm.userId.$valid, &#39;has-success&#39;: userDetailForm.userId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">userId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="user-userId" ng-model="vm.selectedEntity.userId" ng-readonly="true" name="userId" placeholder="userId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !userDetailForm.username.$valid, &#39;has-success&#39;: userDetailForm.username.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">username
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="user-username" ng-model="vm.selectedEntity.username" ng-readonly="vm.restrictionList.user.restrictionFieldMap.username" name="username" placeholder="username"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !userDetailForm.enabled.$valid, &#39;has-success&#39;: userDetailForm.enabled.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">enabled
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="user-enabled" ng-model="vm.selectedEntity.enabled" ng-readonly="vm.restrictionList.user.restrictionFieldMap.enabled" name="enabled" placeholder="enabled" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !userDetailForm.password.$valid, &#39;has-success&#39;: userDetailForm.password.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">password
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="password" id="user-password" ng-model="vm.selectedEntity.password" ng-readonly="vm.restrictionList.user.restrictionFieldMap.password" name="password" placeholder="password"/>
		
	</div>
</div>
<div id="user-enumField" class="modal fade" role="dialog" ng-if="!$root.openNode.enumField">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>

				<h4 class="modal-title">Link existing enumField
				</h4>

			</div>

			<div class="modal-body">
				<p>

				</p>

				<div class="input-group">
					<span class="input-group-addon">enumField
					</span>

					<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.enumField" id="enumField" name="enumField" ng-options="enumField as  enumField.enumFieldId+&#39; &#39;+ enumField.name for enumField in vm.enumFieldPreparedData.entityList track by enumField.enumFieldId" enctype="UTF-8">
					</select>

					<span class="input-group-btn">
						<button ng-click="vm.saveLinkedEnumField()" class="btn btn-default " id="enumField">Save
						</button>

					</span>

				</div>

			</div>

			<div class="modal-footer">
				<button ng-click="close()" class="btn btn-default " data-dismiss="modal">close
				</button>

			</div>

		</div>

	</div>
</div>
<br/>
<br/>
<div class="pull-left" style="width: 100%" ng-show="true  && ($root.restrictionList.field.restrictionItemMap.enumField.canSearch==true)" ng-if="!$root.openNode.enumField">
	<div class="panel panel-default default-panel">
		<div class="panel-heading">enumField<button ng-click="vm.showEnumFieldDetail()" class="btn btn-default  pull-right" style="margin-top: -7px" ng-show="($root.restrictionList.field.restrictionItemMap.enumField.canCreate==true)">Add new enumField</button>
<button type="button" class="btn btn-default pull-right" style="margin-top: -7px" data-toggle="modal" data-target="#user-enumField">Link existing</button>
<button ng-click="vm.downloadEnumFieldList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

		</div>

		<div class="panel-body" ng-class="{&#39;has-error&#39;: !vm.userDetailForm.role.$valid, &#39;has-success&#39;: vm.userDetailForm.enumField.$valid}">
			<label id="enumField">role
			</label>

			<div id="enumField" ng-if="vm.selectedEntity.enumFieldList.length&gt;0">
				<div style="top: 100px" ui-grid="vm.enumFieldGridOptions" ui-grid-pagination="" ui-grid-selection="">
				</div>

			</div>

		</div>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<div class="panel-body">
					<div class="pull-left">
						<form id="userActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.userId==undefined" ng-show="($root.restrictionList.security.restrictionItemMap.user.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.userId&gt;0" ng-show="($root.restrictionList.security.restrictionItemMap.user.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.userId&gt;0" ng-show="($root.restrictionList.security.restrictionItemMap.user.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
