<div>
	<form id="userSearchBean">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Search form user
			</div>

			<div class="panel-body">
				<div class="pull-left right-input" ng-show="true ">
					<div class="input-group">
						<span class="input-group-addon">userId
						</span>

						<input class="form-control " aria-describedby="sizing-addon3" type="text" id="user-userId" ng-model="searchBean.userId" ng-readonly="false" name="userId" placeholder="userId"/>
						
					</div>

				</div>

				<div class="pull-left right-input" ng-show="true ">
					<div class="input-group">
						<span class="input-group-addon">enabled
						</span>

						<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="user-enabled" ng-model="searchBean.enabled" ng-readonly="false" name="enabled" placeholder="enabled" ng-options="value for value in trueFalseValues">
						</select>

					</div>

				</div>

				<div class="pull-left right-input" ng-show="true ">
					<div class="input-group">
						<span class="input-group-addon">username
						</span>

						<input class="form-control " aria-describedby="sizing-addon3" type="text" id="user-username" ng-model="searchBean.username" ng-readonly="false" name="username" placeholder="username"/>
						
					</div>

				</div>

				<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.role.canSearch==true)">
					<div class="input-group">
						<span class="input-group-addon">role
						</span>

						<select class="form-control " aria-describedby="sizing-addon3" ng-model="searchBean.role.roleId" id="role" ng-options="role.roleId as  role.roleId+&#39; &#39;+ role.role for role in rolePreparedData.entityList" enctype="UTF-8">
						</select>

					</div>

				</div>

			</div>

			<div class="panel-body">
				<div class="panel-body">
					<div class="pull-left right-input">
						<button ng-click="addNew()" class="btn btn-default " ng-show="($root.restrictionList.security.restrictionItemMap.user.canCreate==true)">Add new
						</button>

						<button ng-click="search()" class="btn btn-default ">Find
						</button>

						<button ng-click="reset()" class="btn btn-default ">Reset
						</button>

					</div>

				</div>

			</div>

		</div>

	</form>

	<form id="userList" ng-if="entityList.length&gt;0" enctype="UTF-8">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">List user<button ng-click="downloadEntityList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

			</div>

			<div class="panel-body">
				<div ui-grid="userGridOptions" ui-grid-pagination="" ui-grid-selection="" ui-grid-exporter="">
				</div>

			</div>

		</div>

	</form>
</div>
