<div>
	<form id="restrictionEntityGroupSearchBean">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Search form restrictionEntityGroup
			</div>

			<div class="panel-body">
				<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">restrictionEntityGroupId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="restrictionEntityGroup-restrictionEntityGroupId" ng-model="vm.searchBean.restrictionEntityGroupId" ng-readonly="false" name="restrictionEntityGroupId" placeholder="restrictionEntityGroupId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canCreate
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntityGroup-canCreate" ng-model="vm.searchBean.canCreate" ng-readonly="false" name="canCreate" placeholder="canCreate" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canSearch
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntityGroup-canSearch" ng-model="vm.searchBean.canSearch" ng-readonly="false" name="canSearch" placeholder="canSearch" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canDelete
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntityGroup-canDelete" ng-model="vm.searchBean.canDelete" ng-readonly="false" name="canDelete" placeholder="canDelete" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">canUpdate
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" type="checkbox" id="restrictionEntityGroup-canUpdate" ng-model="vm.searchBean.canUpdate" ng-readonly="false" name="canUpdate" placeholder="canUpdate" ng-options="value for value in vm.trueFalseValues">
		</select>

	</div>
</div>
<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.security.restrictionItemMap.role.canSearch==true)">
	<div class="input-group">
		<span class="input-group-addon">role
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.role.roleId" id="role" ng-options="role.roleId as  role.roleId+&#39; &#39;+ role.role for role in vm.rolePreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>
<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.entityGroup.canSearch==true)">
	<div class="input-group">
		<span class="input-group-addon">entityGroup
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.entityGroup.entityGroupId" id="entityGroup" ng-options="entityGroup.entityGroupId as  entityGroup.entityGroupId+&#39; &#39;+ entityGroup.name for entityGroup in vm.entityGroupPreparedData.entityList" enctype="UTF-8">
		</select>

	</div>
</div>

				</div>

				<div class="panel-body">
					<div class="panel-body">
						<div class="pull-left right-input">
							<button ng-click="vm.addNew()" class="btn btn-default " ng-show="($root.restrictionList.security.restrictionItemMap.restrictionEntityGroup.canCreate==true)">Add new
							</button>

							<button ng-click="vm.search()" class="btn btn-default ">Find
							</button>

							<button ng-click="vm.reset()" class="btn btn-default ">Reset
							</button>

						</div>

					</div>

				</div>

			</div>

		</form>

		<form id="restrictionEntityGroupList" ng-if="vm.entityList.length&gt;0" enctype="UTF-8">
			<div class="panel panel-default default-panel">
				<div class="panel-heading">List restrictionEntityGroup<button ng-click="vm.downloadList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

				</div>

				<div class="panel-body">
					<div ui-grid="vm.restrictionEntityGroupGridOptions" ui-grid-pagination="" ui-grid-selection="" ui-grid-exporter="">
					</div>

				</div>

			</div>

		</form>

	</div>
