<div>
	<form id="vm.annotationAttributeDetailForm" name="vm.annotationAttributeDetailForm" ng-if="vm.selectedEntity.show">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Detail annotationAttribute {{ vm.selectedEntity.annotationAttributeId }} <button type="button" class="close" aria-label="Close" ng-click="vm.closeEntityDetail()">
	<span aria-hidden="true">&times;
	</span>
</button>

			</div>

			<div class="panel-body">
				<uib-tabset active="vm.activeTab"> <uib-tab index="1" heading="Detail" ng-click="vm.activeTab=1"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.annotationAttributeDetailForm.annotationAttributeId.$valid, &#39;has-success&#39;: vm.annotationAttributeDetailForm.annotationAttributeId.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">annotationAttributeId
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="annotationAttribute-annotationAttributeId" ng-model="vm.selectedEntity.annotationAttributeId" ng-readonly="true" name="annotationAttributeId" placeholder="annotationAttributeId"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.annotationAttributeDetailForm.value.$valid, &#39;has-success&#39;: vm.annotationAttributeDetailForm.value.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">value
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="annotationAttribute-value" ng-model="vm.selectedEntity.value" ng-readonly="vm.restrictionList.annotationAttribute.restrictionFieldMap.value" name="value" placeholder="value"/>
		
	</div>
</div>
<div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.annotationAttributeDetailForm.property.$valid, &#39;has-success&#39;: vm.annotationAttributeDetailForm.property.$valid}" style="height:59px" ng-show="true ">
	<div class="input-group">
		<span class="input-group-addon">property
		</span>

		<input class="form-control " aria-describedby="sizing-addon3" type="text" id="annotationAttribute-property" ng-model="vm.selectedEntity.property" ng-readonly="vm.restrictionList.annotationAttribute.restrictionFieldMap.property" name="property" placeholder="property"/>
		
	</div>
</div>
 </uib-tab> <uib-tab index="2" heading="Annotation" ng-click="vm.activeTab=2"><div class="pull-left right-input" ng-class="{&#39;has-error&#39;: !vm.annotationAttributeDetailForm.annotation.$valid, &#39;has-success&#39;: vm.annotationAttributeDetailForm.annotation.$valid}" style="height:59px" ng-show="true " ng-if="!$root.openNode.annotation">
	<div class="input-group">
		<span class="input-group-addon">annotation
		</span>

		<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.selectedEntity.annotation" id="annotation" name="annotation" ng-options="annotation as  annotation.annotationId for annotation in vm.annotationPreparedData.entityList track by annotation.annotationId" enctype="UTF-8">
		</select>

		<span class="input-group-btn">
			<button ng-click="vm.showAnnotationDetail()" class="btn btn-default " id="annotation" ng-if="vm.selectedEntity.annotation==null">Add new annotation
			</button>

			<button ng-click="vm.showAnnotationDetail()" class="btn btn-default " id="annotation" ng-if="vm.selectedEntity.annotation!=null">Show detail
			</button>

		</span>

	</div>
</div>
 </uib-tab></uib-tabset>

				</div>

				<div class="panel-body">
					<div class="pull-left">
						<form id="annotationAttributeActionButton" ng-if="vm.selectedEntity.show">
							<button ng-click="vm.insert()" class="btn btn-default " ng-if="vm.selectedEntity.annotationAttributeId==undefined" ng-show="($root.restrictionList.field.restrictionItemMap.annotationAttribute.canCreate==true)">Insert
							</button>

							<button ng-click="vm.update()" class="btn btn-default " ng-if="vm.selectedEntity.annotationAttributeId&gt;0" ng-show="($root.restrictionList.field.restrictionItemMap.annotationAttribute.canUpdate==true)">Update
							</button>

							<button ng-click="vm.del()" class="btn btn-default " ng-if="vm.selectedEntity.annotationAttributeId&gt;0" ng-show="($root.restrictionList.field.restrictionItemMap.annotationAttribute.canDelete==true)">Delete
							</button>

						</form>

					</div>

				</div>

			</div>

		</form>

	</div>
