<div>
	<form id="enumFieldSearchBean">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">Search form enumField
			</div>

			<div class="panel-body">
				<div class="pull-left right-input" ng-show="true ">
					<div class="input-group">
						<span class="input-group-addon">enumFieldId
						</span>

						<input class="form-control " aria-describedby="sizing-addon3" type="text" id="enumField-enumFieldId" ng-model="vm.searchBean.enumFieldId" ng-readonly="false" name="enumFieldId" placeholder="enumFieldId"/>
						
					</div>

				</div>

				<div class="pull-left right-input" ng-show="true ">
					<div class="input-group">
						<span class="input-group-addon">priority
						</span>

						<input class="form-control " aria-describedby="sizing-addon3" type="text" id="enumField-priority" ng-model="vm.searchBean.priority" ng-readonly="false" name="priority" placeholder="priority"/>
						
					</div>

				</div>

				<div class="pull-left right-input" ng-show="true ">
					<div class="input-group">
						<span class="input-group-addon">name
						</span>

						<input class="form-control " aria-describedby="sizing-addon3" type="text" id="enumField-name" ng-model="vm.searchBean.name" ng-readonly="false" name="name" placeholder="name"/>
						
					</div>

				</div>

				<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.entity.canSearch==true)">
					<div class="input-group">
						<span class="input-group-addon">entity
						</span>

						<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.entity.entityId" id="entity" ng-options="entity.entityId as  entity.name+&#39; &#39;+ entity.entityId for entity in vm.entityPreparedData.entityList" enctype="UTF-8">
						</select>

					</div>

				</div>

				<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.enumEntity.canSearch==true)">
					<div class="input-group">
						<span class="input-group-addon">enumEntity
						</span>

						<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.enumEntity.enumEntityId" id="enumEntity" ng-options="enumEntity.enumEntityId as  enumEntity.enumEntityId+&#39; &#39;+ enumEntity.name for enumEntity in vm.enumEntityPreparedData.entityList" enctype="UTF-8">
						</select>

					</div>

				</div>

				<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.entity.restrictionItemMap.tab.canSearch==true)">
					<div class="input-group">
						<span class="input-group-addon">tab
						</span>

						<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.tab.tabId" id="tab" ng-options="tab.tabId as  tab.name+&#39; &#39;+ tab.tabId for tab in vm.tabPreparedData.entityList" enctype="UTF-8">
						</select>

					</div>

				</div>

				<div class="pull-left right-input" style="height: 59px;" ng-show="true  && ($root.restrictionList.field.restrictionItemMap.annotation.canSearch==true)">
					<div class="input-group">
						<span class="input-group-addon">annotation
						</span>

						<select class="form-control " aria-describedby="sizing-addon3" ng-model="vm.vm.searchBean.annotation.annotationId" id="annotation" ng-options="annotation.annotationId as  annotation.annotationId for annotation in vm.annotationPreparedData.entityList" enctype="UTF-8">
						</select>

					</div>

				</div>

			</div>

			<div class="panel-body">
				<div class="panel-body">
					<div class="pull-left right-input">
						<button ng-click="vm.addNew()" class="btn btn-default " ng-show="($root.restrictionList.field.restrictionItemMap.enumField.canCreate==true)">Add new
						</button>

						<button ng-click="vm.search()" class="btn btn-default ">Find
						</button>

						<button ng-click="vm.reset()" class="btn btn-default ">Reset
						</button>

					</div>

				</div>

			</div>

		</div>

	</form>

	<form id="enumFieldList" ng-if="vm.entityList.length&gt;0" enctype="UTF-8">
		<div class="panel panel-default default-panel">
			<div class="panel-heading">List enumField<button ng-click="vm.downloadList()" class="btn btn-default pull-right" style="margin-top:-7px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
</button>

			</div>

			<div class="panel-body">
				<div ui-grid="vm.enumFieldGridOptions" ui-grid-pagination="" ui-grid-selection="" ui-grid-exporter="">
				</div>

			</div>

		</div>

	</form>
</div>
